html {
    background:#F2F2F2;
}


#title{
    font-family:"Roboto Mono", monospace;

}

h2{
    text-align: center;
}

#desc{
    font-family:"Roboto Mono", monospace;
    font-weight: 200;
}

.heading{
    font-family:"Roboto Mono", monospace;
    font-weight: 100;
}

a{
    text-decoration: none;
    color:black;
}

a:hover{
    color:green; 
    text-decoration: underline;
}

img{
    display: block;
    margin: auto;
}
